$color: white;

$nav_background_color: rgb(58, 52, 52);

$nav_screen_large_height: 40px;
$nav_screen_small_height: 80px;

$nav_screen_1: 1600px;
$nav_screen_2: 1100px;
$nav_screen_3: 600px;
$nav_screen_4: 230px;

$min_width_screen: $nav_screen_4